#TabsToolbar
{
    visibility: collapse;
}

#titlebar {
  visibility: collapse;
}

#sidebar-header {
  visibility: collapse !important;
}

/* Remove Tab When Only One */
#tabbrowser-tabs tab:first-of-type:last-of-type {
  visibility: collapse !important;
}
