/*@import "a.css";*/

* {
	font-family: "JetBrainsMono Nerd Font Mono";
	font-size: 12px;
	box-shadow: none;
	border-radius: 0px;
	border-width: 0px;
}


.control-center {
	background-color: #292C42;
	border-style: solid none solid solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: #ee99a0; 
	opacity: 1;
}

.control-center-list {
	background-color: #292C42;
	box-shadow: none;
}

.text-button{
	background-color: #363A4F; 
	border: solid;
	border-width: 1px;
	border-color: #ee99a0; 
	border-radius: 0px; 
}

.control-center-dnd {
	background-color: #363A4F;
	color: #ed8796;
	border-color: #ee99a0; 
	border-radius: 0px;
	border-width: 1px;
	padding: 2px;
}

.control-center-dnd:checked {
	background-color: #363A4F;
	color: #a6da95;
	border-color: #a6da95;
}

.control-center-dnd slider{
	background-color: #ed8796;
	border-radius: 10px;
}

.control-center-dnd:checked slider{
	background-color: #a6da95; 
}

.vertical.notification-content{
	background-color: #363A4F;
	border-style: solid;
	border-color: #ee99a0; 
	border-width: 1px;
	border-radius: 0px;
	padding: 2px;
	margin: 1px;
	box-shadow: none;
}

.notification-row:focus{
	background: #8087A2; 
}


.notification-row:hover{
	background: #8087A2; 
}
